.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  background-color: #3F3F3F;
  color:#FFFFF6;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 600px) {
  .App {
    text-align: center;
    display: flex;
    flex-direction: row;
    background-color: #3F3F3F;
    color:#FFFFF6;
  }

.nav-bar-container{
  width:20vw;
  border-right-style: groove;
  height: inherit;
  font-size: 2vw;
  min-height: 100vh;
  padding: 2vh;
}

.link{
color:#FFFFF6;
  text-decoration: none;
}
.route-container{
width: 80vw;
}
.home-page{
  font-size: 5vw;
}
.home-page-text{
  font-size:5vh;
  padding:10vh;
  margin:2vh;
  border-style:groove;
  border-color: #FFFFF6;
  background-color:black;
}
.ds-header{
  font-size:5vw;
  margin-top: 3vh;
  margin-bottom: 0;
}
.ds-explanation{

  width: 60vw;
  margin-left:5vw;
  margin-right:5vw;
  border-style: solid;
  padding:1vw;
  font-size:2.5vh;


}

.push-form{
  display: flex;
  margin-top:5vh;
  justify-content: center;
  flex-wrap: wrap;
  padding:2vh;

}
.action-item{
  margin-bottom: 5vh;
}

.button-group{
  margin-left:2vw;
  margin-right:2vw;
  width: 15vw;
  height: 25vh;

}

.button-style{
  width: 15vw;
  height:10vh;
  background-color: black;
  border-color: #FFFFF6;
  color:#FFFFF6;
  font-size:4vh;
}

.form-item-to-push
{
  font-size:3vh;
  margin-top:1vh;
  margin-bottom: 1vh;
}
.form-item-input
{
  width: 10vw;
  height:5vh;
  font-size: 3vh;
}

.stack-container{
  margin-left:2vw;
margin-right:2vw;
display: flex;
flex-direction: column;
align-items:center;

}

.stack-display-container
{
display: flex;
flex-direction: row;
flex-wrap: wrap;
border-style: solid;
padding:1vh;
font-size: 3vh;
min-height: 20vh;
width: 60vw;
margin-bottom:5vh;
background-color: black;

}
.stack-header
{
  font-size: 8vh;
  text-align: left;
  padding:0;
  margin-top:3vh;
  margin-bottom: 2vh;
}

.stack-item{
  margin-left:.5vw;
  margin-right:.5vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
padding:2vh;
border-style:solid;
background-color: #3F3F3F;

}

.tree-display-container
{
display: flex;
flex-direction: column;
border-style: solid;
padding:1vh;
font-size: 2vh;
min-height: 20vh;
width: 60vw;
margin-bottom:5vh;
background-color: black;

}

.tree-item{
  margin-left:.5vw;
  margin-right:.5vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
padding:2vh;
border-style:solid;
background-color: #3F3F3F;

}

.tree-row{
display: flex;
flex-direction: row;
flex-wrap:wrap;
justify-content: space-around;
}


.peek-container{
  font-size:4vh;
  margin-top:1vh;
  margin-bottom: 1vh;
}


.stack-empty
{
  font-size: 8vh;
  text-align: left;
  padding:0;
  margin-top:5vh;
  margin-bottom: 2vh;
}

.list-pair{
display: flex;

}
.list-item{
  margin-left:.5vw;
  margin-right:.5vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
padding:2vh;
border-style:solid;
background-color: #3F3F3F;

}

.arrow-item{
  margin-left:0vw;
  margin-right:0vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
padding:2vh;
}
}





@media only screen and (max-width: 600px) {
  .App {
    text-align: center;
    display: flex;
    flex-direction:column-reverse;
    background-color: #3F3F3F;
    color:#FFFFF6;
    width: 100vw;

  }

  .nav-bar-container{
    width:100vw;
    font-size: 3vh;
    margin-bottom:5vh;
    border-top-style: solid;
    padding-top:3vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
.nav-bar-item{
  border-style: solid;
  margin:1vh;
  width:25vw;
  height:20vh;

}
  .link{
  color:#FFFFF6;
    text-decoration: none;
  }
  .route-container{
  width: 100vw;

  }
  .binary-search-container
  {
    min-height: 45vh;
    font-size: 3vh;
  }
  .home-page{
    font-size: 10vw;
  }
  .home-page-text{
    font-size:3vh;
    padding:5vh;
    margin:1vh;
    border-style:groove;
    border-color: #FFFFF6;
    background-color:black;
  }
  .ds-header{
    font-size:5vh;
    margin-top: 3vh;
    margin-bottom: 1.5vh;
  }
  .ds-explanation{
    height:15vh;
    width: 90vw;
    margin-left:2vw;
    margin-right:2vw;
    border-style: solid;
    padding:1vw;
    font-size:1.5vh;
    margin-bottom: 1.5vh;

  }

  .push-form{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

  }

  .button-group{

    width: 25vw;
    height: 30vh;
    padding:1vh;
    margin-bottom: 3vh;

  }

  .button-style{
    width: 25vw;
    height:7vh;
    background-color: black;
    border-color: #FFFFF6;
    color:#FFFFF6;
    font-size:2vh;
  }

  .form-item-to-push
  {
    font-size:1.75vh;
    margin-top:1vh;
    margin-bottom: 1vh;
  }
  .form-item-input
  {
    width: 20vw;
    height:5vh;
    font-size: 2vh;
  }

  .stack-container{
    margin-left:2vw;
  margin-right:2vw;
  display: flex;
  flex-direction: column;
  align-items:center;

  }

  .stack-display-container
  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-style: solid;
  padding:1vh;
  font-size: 3vh;
  min-height: 10vh;
  width: 90vw;
  margin-bottom:5vh;
  background-color: black;

  }
  .stack-header
  {
    font-size: 4vh;
    text-align: center;
    padding:0;
    margin-bottom: 2vh;
    margin-top:1vh;
  }

  .stack-item{
    margin-left:2vw;
    margin-right:2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
  padding:2vh;
  border-style:solid;
  background-color: #3F3F3F;

  }

  .peek-container{
    font-size:3vh;
    margin-top:1vh;
    margin-bottom: 1vh;
  }


  .stack-empty
  {
    font-size: 8vh;
    text-align: left;
    padding:0;
    margin-top:5vh;
    margin-bottom: 2vh;
  }

  .list-pair{
    display: flex;

    }
    .list-item{
      margin-left:.5vw;
      margin-right:.5vw;
      margin-top: 2vh;
      margin-bottom: 2vh;
    padding:2vh;
    border-style:solid;
    background-color: #3F3F3F;

    }

    .arrow-item{
      margin-left:0vw;
      margin-right:0vw;
      margin-top: 2vh;
      margin-bottom: 2vh;
    padding:2vh;
    }




  }

